.works-layout {
    display: flex;
    padding-top: 60px;
    height: 100vh;
}

.works-left {
    width: 450px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin: 20px;
    height: fit-content;
    overflow-y: auto;
    font-size: 14px;
}

.works-table {
    width: 100%;
    border-collapse: collapse;
}

.works-table th {
    text-align: left;
    padding: 8px 6px;
    border-bottom: 3px double black;
    font-weight: 500;
    font-size: 14px;
}

.works-table td {
    padding: 8px 6px;
    border-bottom: 0.5px solid black;
    cursor: pointer;
}

.works-table tbody tr:hover td {
    background: yellow;
}

.works-table tbody tr.active td {
    font-weight: 500;
}

.works-table td:nth-child(2),
.works-table th:nth-child(2) {
    width: 500px; /* 원하는 크기로 조절 */
}

.works-table td:nth-child(3),
.works-table th:nth-child(3) {
    width: 150px; /* 원하는 크기로 조절 */
}

.works-info {
    font-size: 14px;
    color: black;
    line-height: 1.8;
}

.works-detail {
    flex: 1;
    overflow-y: auto;
    padding: 20px 40px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: right;
}

.works-detail::-webkit-scrollbar {
    display: none;
}

.project-content {
    display: none;
}

.project-content.active {
    display: block;
}

.project-content img {
    max-width: 70%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
}

.project-content p {
    font-size: 13px;
    line-height: 1.8;
}

.works-left-wrap {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-shrink: 0;
}

.project-desc-box {
    display: none;
    border: 1px solid black;
    background: yellow;
    padding: 20px;
    margin: 20px 20px 0 20px;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.8;
    width: 200px;
    min-height: 300px;
}